.schedule-list{
  flex: 1;

  &__wrapper{
    width: 100%;
  }

  &__item{
    flex-direction: column;
    flex-wrap: nowrap;
    
    .item-title{
      font-size: 14px;
      height: 100%;
      display: flex;
      justify-content: left;
      padding-left: 10px;
      position: relative;

      &__name-person{
        text-align: right;
      }

      &__toggle{
        cursor: pointer;
      }
    }
  }

  &__person {
    display: flex;
    flex-direction: row;
  }
}