.registration-form__filter-action{
  padding: 16px 0;
}

.registration-form__actions{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.registration-form{
  .form-field{
    margin-top: 8px;

    &:last-child{
      margin-top: 0;
    }
  }
  &__general{
    margin-top: 16px;
  }
}

.is-radio-btn{
  display: block;
  margin-top: 8px !important;
}
