#tickets {
  margin-top: 15px;
}

.tickets {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
}

.ticket{
    width: 12%;
    margin: 0 1px;
    padding: .2em .4em;
    font-size: .9em;
    background: #f2f4f5;
    border: 1px solid #f0f0f0;
    border-radius: 3px;
    
}

.ticket__active {
  width: 12%;
  margin: 0 1px;
  padding: .2em .4em;
  font-size: .9em;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
  background: #da7f5e;
  color: #f0f0f0;
}

.ticket__free {
  width: 12%;
  margin: 0 1px;
  padding: .2em .4em;
  font-size: .9em;
  border: 1px solid #f0f0f0;
  border-radius: 3px;
  background: #7cc7d4;
  color: #f0f0f0;
  cursor: pointer;
}