.select-node{
  padding-left: 12px;
  &__icon{
    margin-right: 6px;
  }

  &__title{
    margin: 0 ;
  }
}

.list-node__content{
  padding-left: 20px;
  color: #a3a3a3;

  .doc-item{
    color: #686868;
    text-transform: capitalize;
  }
}
