.table-top__logo{
  display: flex;
  padding: 0 5px;
  align-items: center;
  justify-content: center;
  background: #4C86C8;
  border-radius: 2px 0px 0px 0px;
  text-transform: capitalize;
  color: #fff;
}

.table-top__search{
  color: #000000;
  background: #A9D1FF;
}

.table__top-search-wrapper{
  max-height: 24px;
  .ant-input{
    height: 100%;
  }
}

.find-filters__wrapper{
  padding: 0 4px;
  &:hover{
    cursor: pointer;
    opacity: .7;
  }
}
