.happenings-list__item{
  padding: 12px 8px;
  border: 1px solid #ddd;
  margin-top: 14px;
  border-radius: 2px;

  &:hover{
    cursor: pointer;
  }

  &:first-child{
    margin-top: 6px;
  }

  h2{
    margin: 0 !important;
  }

  &-title{
    display: flex;
    align-items: center;
    height: 100%;
  }

  &--selected{
    background: #CAE2FF;
  }
}

.happenings-list__info{
  padding: 0 10px;
}
