.tree-node{

  &__content{
    padding-left: 12px;
  }

  &--first{
    .table-row{
      padding-top: 24px;
    }
  }
}

.tree-list{

  position: relative;

  .ant-divider{
    margin: 0;
  }
}


.table-row--first{
  padding-top: 24px;
}
