.patient-card__header{
  background: #4C86C8;
  padding: 4px 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  .header-actions__logout, .header-actions__save{
    color: #000;
  }

  .header-actions__logout{
    margin-right: 6px;
  }
}

.header-title{
  color: #fff;
}

.patient-card{
  background: #E0EEFF;
  .form-section{
    background: #fff;
  }

  .content-title{
    padding: 0 10px;
    margin: 0;
  }
}
