.schedule-timeline{
}

.schedule-timeline__item{
  position: relative;
  height: 32px;
  width: 100%;

  &--week{
    height: auto !important;
  }

  &-time{
    position: absolute;
    left: -16px;
    color: #686868;
    opacity: .7;
  }

  &-day{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
