.picker-action__wrapper{
  padding: 4px 8px;

  &:hover{
    cursor: pointer;
    opacity: .7;
  }
}

.schedule-date-picker__picker{
  padding: 0 4px;
  

  &:hover{
    cursor: pointer;
  }
}

.back {
  position: absolute;
  left: 0;
  cursor: pointer;
}