.header__logo{
  margin-right: 10px;

  &:hover{
    cursor: pointer;
    opacity: .8;
  }
}

.app-logo{
  height: 24px;
}

.header__button{
}

.app-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__user-block{
  display: flex;
  align-items: center;
  color: #fff;

  .block-name{
    color: #fff;
    margin-left: 10px;
    font-weight: bold;
  }
}
