.save-btn{
  background: #4CAF50;
  color: #fff;
  border: none;
}

.dropdown-btn{
  border-color: #000 !important;

  .anticon{
    color: #000 !important;
  }

  &:hover, &:active, &:focus{
    opacity: .7;
  }
}

.policy-omc__btn, .policy-dmc__btn{
  background: #686868 !important;
  color: #fff !important;
}

.fields-btn{
  &__icon{
    font-size: 22px !important;
  }
}
