.registration-form{
  .ant-form-item{
    margin-bottom: 8px;
  }
}


.form-section{
  padding: 5px 12px;

  &__divider{
    height: 100%;
    width: 1px;
    background: #dedede;
  }

  .form-field{
    margin-top: 4px;
  }
}

.form-row{
  padding: 4px;
}
