.registration-form{
  .ant-form-item{
    margin-bottom: 8px;
  }
}


.ant-select-selector{
  background: #ECF1F8 !important;
}

.ant-input{
  background: #ECF1F8 !important;
}

.ant-picker{
  background: #ECF1F8 !important;
}
