.registration-form{
  .ant-form-item{
    margin-bottom: 8px;
  }
}

.form-section{
  padding: 0 12px;

  &__divider{
    height: 100%;
    width: 1px;
    background: #dedede;
  }

  .form-field{
    margin-top: 4px;
  }
  h2{
    margin: 0;
  }
}

.form-row{
  padding: 4px;
}

.react-time-picker {
  display: inline-flex;
  position: relative;
  width: 100%;
}

.react-time-picker__wrapper {
  display: flex;
  flex-grow: 1;
  flex-shrink: 0;
  border: 1px solid #d9d9d9 !important;
  border-radius: 2px;
  padding-left: 5%;
}


