.registration-card-tabs{
  height: 100%;
  .ant-tabs, .ant-tabs-content{
    height: 100%;
  }

  .card-page{
    background: #fff;
  }

  .ant-tabs-nav-list{
    padding: 2px 4px;
    background: #fff;
  }

  .ant-tabs-nav{
    margin-bottom: 0 !important;
  }
}
