.passport-general-form{
  span{
    font-size: 10px !important;
  }

  .ant-input{
    background: #ECF1F8 !important;
    font-size: 12px !important;
  }

  .ant-select-selector{
    background: #ECF1F8 !important;
  }

  .polis-row{
    display: flex;
  }
}
